body {
    background: white;
    margin: 0em 1em 10em 1em;
    color: black;
}

h1 { color: white; background: #85774A; }
h2 { color: white; background: #85774A; }
h3 { color: black; background: #C1BBA4; }
h4 { color: black; background: #C1BBA4; }
    
a { color: #C07037; }
